
@model IEnumerable<ChatRoomApp.Models.Message>
<head>
    <link href="~/css/button.css" rel="stylesheet" />
</head>
<h1 align="center">Chat Room</h1>
@{
    var userName = ViewBag.UserName as string;
}
<div class="d-flex align-content-center justify-content-center ">
<div class="card">
<div class="card-body" style="padding-bottom:57px">
<div id="messageList">
    @foreach (var message in Model)
    {
        <div>
            <strong>@message.SenderName</strong> - @message.Timestamp.ToString("yyyy-MM-dd HH:mm:ss"): @message.Content
        </div>
    }
</div>
<form method="post" action="/Home/SendMessage">
    <div class="form-group">
        <input type="hidden" id="userName" value="@userName" />
        <label for="Content"><b>Message:</b></label>
        <input type="text" id="Content" name="Content" />
        <button type="submit" class="button-85">Send</button>
    </div>
</form>
</div>
</div>
</div>



